.containData {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;
  overflow-y: scroll;
}

.titulos {
  background-color: #603e20;
  border-radius: 15px;
  color: white;
}

.titulos,
.dataList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
  border-radius: 15px;
}

.titulos p,
.dataList p {
  flex: 1;
  padding: 8px;
  text-align: center; /* Alinea el texto al centro, puedes ajustarlo según sea necesario */
  border-right: 1px solid #ddd; /* Línea de separación entre columnas */
}

.titulos p:last-child,
.dataList p:last-child {
  border-right: none; /* No aplicar borde a la última columna */
}

.dataList:hover {
  background-color: white;
  cursor: pointer;
}
