.containProgram {
  background-color: white;
  margin-top: 3rem;
  height: 100%;
  border-radius: 15px;
  padding: 1rem;
}

.program {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sideBarAndListProduct {
  display: flex;
  gap: 15px;
  height: 90%;
}

.SideBar {
  background-color: #f8efe3;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 1rem;
  gap: 20px;
  border-radius: 15px;
}

.SideBar span {
  width: max-content;
}

.divInputs {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.divInputs input {
  padding: 1rem;
  border-radius: 10px;
}

.divInputs button {
  border-radius: 10px;
  padding: 1rem;
}

.divFacturar button {
  padding: 1rem;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.listProduct {
  background-color: #f8efe3;
  width: 100%;
  border-radius: 15px;
  text-align: center;
}

.importe {
  background-color: #f8efe3;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  padding-inline: 3rem;
}
.trashBox svg {
  cursor: pointer;
}
.trashBox svg:hover {
  color: red;
}

.importeBox {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 15px;
  border: 3px solid black;
}

.DivProductTitles {
  background-color: #603e20;
  border-radius: 15px;
  color: white;
}

.DivProductTitles,
.divProduct {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  align-items: center;
}

.DivProductTitles p,
.divProduct p {
  flex: 1;
  padding: 8px;
  border-right: 1px solid #ddd; /* Línea de separación entre columnas */
}

.divProduct input {
  border: none;
  padding: 8px;
  width: 70%;
}

.DivProductTitles p:last-child,
.divProduct p:last-child {
  border-right: none; /* No aplicar borde a la última columna */
}

.divProduct input[type="checkbox"] {
  cursor: pointer;
}

.ContainModalProducts {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.iconClose {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
}
.iconClose svg {
  cursor: pointer;
}

.modalProducts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #906341;

  border: 1px solid #000000;
  width: 95%;
  max-width: 650px;
  max-height: 600px;
  border-radius: 10px;
}

.titulosModalProducts {
  display: flex;
  justify-content: space-between;
  background-color: #603e20;
  border-radius: 15px;
  color: white;
  width: 100%;
}

.titulosModalProducts p {
  flex: 1;
  text-align: center;
  border-right: 1px solid white;
}

.dataProducts {
  display: flex;
  justify-content: space-between;
}

.dataProducts p {
  flex: 1;
  text-align: center;
  border-right: 1px solid white;
}

.titulosModalProducts p:last-child,
.titulosModalProducts p:last-child {
  border-right: none; /* No aplicar borde a la última columna */
}

@media only screen and (max-width: 1600px) {
  .sideBarAndListProduct {
    flex-direction: column;
  }
  .SideBar {
    flex-wrap: wrap;
    gap: 0px;
  }
  .divProduct input {
    width: 50%;
    margin: 0;
  }

  .divFacturar button{
    margin-top: 1rem;
  }

}

.listProductMobileAction {
  display: none;
}

@media only screen and (max-width: 770px) {
  .sideBarAndListProduct {
    flex-direction: column;
  }

  .SideBar {
    flex-wrap: wrap;
    gap: 0px;
  }
  .SideBar button {
    margin-top: 1rem;
  }

  .importeBox p {
    margin: 0;
  }

  .listProductMobile {
    display: none;
  }

  .divProduct {
    text-align: center;
  }

  .divProduct p {
    margin: 0;
  }

  .divProduct input {
    width: 50%;
    margin: 0;
  }

  .listProductMobileAction {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .listProductMobileAction svg {
    padding-inline: 1rem;
  }
}
