.filterInvoiceContain {
  display: flex;
  padding: 1rem;
  justify-content: space-evenly;
  align-items: center;
}

.filterInvoiceContain select {
  padding: 1rem;
  border-radius: 10px;
}

.filterInvoiceContain p {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
}
