.containLogin {
  display: flex;
  justify-content: center;
  background-color: #603e20;
  height: 100%;
}

.markLogin {
  display: flex;
  flex-direction: column;
  background-color: #906341;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin-top: 5rem;
  border-radius: 15px;
  padding: 2rem;
  gap: 15px;
}

.markLogin h3 {
  font-size: 3rem;
  padding: 0;
  margin: 0;
  color: white;
}

.markLogin input {
  padding: 1rem;
  border-radius: 10px;
}

.markLogin button {
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
  cursor: pointer;
  background-color: white;
  width: 100%;
  font-size: 1rem;
}

.markLogin button:hover {
  background-color: rgb(209, 209, 209);
}

.passwordContain {
  width: 100%;
}

.password {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.password input {
  width: 100%;
}

.password svg {
  cursor: pointer;
}

.passwordToggleIcon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #000000;
}

.emailContain {
  width: 100%;
}

.email {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}
.email input {
  width: 100%;
}


@media (min-width: 770px) {
  .markLogin {
    max-width: 35rem;
  }
}

@media (max-width: 599px) {
  .markLogin {
    max-width: 20rem;
  }
}
