.divH2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  text-decoration: underline;
  text-align: center;
  flex-direction: column;
}

.divH2 img{
    width: 50%;
    border-radius: 15px;
}


@media only screen and (max-width: 770px) {

    .divH2 img{
        width: 90%;
        border-radius: 15px;
    }
    

}