.containNavbar {
  background-color: #906341;
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
}

.logo img {
  width: 100px;
}

.options {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 2rem;
}

.link {
  text-decoration: none;
  color: white;
}

.logoInactive,
.optionsActive,
.DivIconMenu {
  display: none;
}

@media only screen and (max-width: 770px) {
  .containNavbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 0rem;
  }

  .options {
    flex-direction: column;
    padding: 1rem;
    gap: 0;
  }

  .options p {
    margin: 0;
    padding: 0;
  }

  .DivIconMenu {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    width: 100%;
  }

  .DivIconMenu svg {
    padding: 1rem;
  }
}
